html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header{
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--theme-ui-colors-text);
  color: var(--theme-ui-colors-background);
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--theme-ui-colors-text);
  color: var(--theme-ui-colors-background);
  /* Gecko Browsers */
}

@media screen and (min-width: 768px) {
  .slick-slide {
    padding-right: 96px !important;
  }
  /* .nft-slider  */
  .slick-track {
    /* width: 100% !important; */
  }

  .slick-track {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    box-sizing: border-box !important;
  }
}

@media screen and (max-width: 768px) {
  .slick-track {
    /* width: 100% !important; */
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    box-sizing: border-box !important;
  }
}