html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

input:autofill {
    color:inherit !important;
    box-shadow: none !important;
}

input:-webkit-autofill {
  color:inherit !important;
  box-shadow: none !important;
}


header {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--theme-ui-colors-text);
  color: var(--theme-ui-colors-background);
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--theme-ui-colors-text);
  color: var(--theme-ui-colors-background);
  /* Gecko Browsers */
}

.close-hover {
  opacity: 0;
  transform: translate(-170%, 0%);
}

@media screen and (min-width: 768px) {
  .slick-slide {
    padding-right: 96px !important;
  }
  /* .nft-slider  */
  .slick-track {
    /* width: 100% !important; */
  }

  .slick-track {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    box-sizing: border-box !important;
  }
}

@media screen and (max-width: 768px) {
  .slick-track {
    /* width: 100% !important; */
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    box-sizing: border-box !important;
  }
}

.partners-img-container::-webkit-scrollbar {
  width: 0 !important;
} /* hide scrollbar in Chrome */
.partners-img-container {
  scrollbar-width: none;
} /* hide scrollbar in mozilla */
.partners-img-container {
  -ms-overflow-style: none;
} /* hide scrollbar in IE */

.progress {
  display: flex;
  height: 0.657rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.657rem;
}
.px-100 {
  padding-left: 130px !important;
  padding-right: 130px !important;
}

.progress-bar {
  text-align: center;
  background: linear-gradient(
    88.76deg,
    rgba(255, 10, 10, 0.8) 1.06%,
    rgba(252, 156, 12, 0.8) 17.37%,
    rgba(251, 181, 0, 0.8) 32.89%,
    rgba(252, 205, 38, 0.8) 57.65%,
    rgba(33, 230, 29, 0.8) 98.94%
  );
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  transition: width 0.6s ease;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #ffffff00;
}
*::-webkit-scrollbar-track {
  background-color: #e2e8f000;
}
*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #c2b2f1;
}
